<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Footer</title>
</head>

<body>
	<footer class="footer" th:fragment="footer">
		<div class="footer-div">
			<h6>[Tên công ty]</h6>
			<p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
				labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
				laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
				voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
				non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
		</div>

		<div class="footer-div">
			<h6>Liên hệ với chúng tôi</h6>
			<ul class="footer-list-link">
				<li>Hotline: <a href="tel:(+84) 337 480 932"> (+84) 337 480 932 </a></li>
				<li>Email: <a href="mailto:alandin0812@gmail.com"> alandin0812@gmail.com </a>
				</li>
				<li>Địa chỉ: <a href="#">Số 71 đường Phùng Khoang, Trung Văn, Nam Từ Liêm, Hà
						Nội</a>
				</li>
			</ul>
		</div>

		<div class="footer-div">
			<h6>&copy; Copyright 2023 - [Tên công ty]</h6>
			<ul class="footer-list-link">
				<li><a href="#">Điều khoản sử dụng</a></li>
				<li><a href="#">Chính sách bảo mật</a></li>
				<li><a href="#">Chính sách bảo vệ thông tin của NTD</a></li>
			</ul>
		</div>

	</footer>
</body>


</html>