<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>[Tên công ty] - Chi tiết tin tuyển dụng</title>

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css">
	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
		integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
		crossorigin="anonymous"></script>
	<!-- Always remember to call the above files first before calling the bootstrap.min.js file -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"
		integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1"
		crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

	<link rel="stylesheet" th:href="@{../../css/hiring_news_detail.css}">
</head>

<body>
	<div class="nav-section">
		<div th:replace="~{fragments/navigation :: navbar}"></div>
	</div>

	<section id="content-section">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="/"><i class="fa fa-home"></i></a></li>
				<li class="breadcrumb-item"><a href="#"
						th:text="'Cơ hội nghề nghiệp' + ' - ' + ${news.category.name}"></a>
				</li>
				<li class="breadcrumb-item"><a
						th:href="@{/hiring-news/list/{id}#news-list-container (id=${news.category.id})}">Danh
						sách</a>
				</li>
				<li class="breadcrumb-item">Chi tiết</li>
			</ol>
		</nav>

		<div th:if="${error_message}">
			<div th:replace="~{fragments/toast :: alert}"></div>
		</div>

		<div th:if="${success_message}">
			<div th:replace="~{fragments/toast :: success}"></div>
		</div>

		<div id="news-container">
			<div id="news-head">
				<div class="news-data" id="news-title" th:text="${news.title}"></div>
				<a th:if="${hasToken}" class="btn btn-outline-light" href="#apply-list-container">Danh sách ứng
					tuyển</a>
			</div>

			<div id="news-content">
				<div id="details">
					<div class="news-data" id="description">
						<div class="field-name">Mô tả công việc:</div>
						<div th:utext="${news.description}"></div>
					</div>
					<div class="news-data" id="requirements">
						<div class="field-name">Yêu cầu ứng viên:</div>
						<div th:utext="${news.requirements}"></div>
					</div>
					<div class="news-data" id="benefits">
						<div class="field-name">Chế độ phúc lợi:</div>
						<div th:utext="${news.benefits}"></div>
					</div>
				</div>
				<div id="common">
					<div class="news-data">
						<span class="field-name">Hạn nộp hồ sơ:</span>
						<span class="field-data" th:text="${#temporals.format(news.dueDate, 'dd-MM-yyyy')}"></span>
					</div>
					<div class="news-data">
						<span class="field-name">Số lượng tuyển:</span>
						<span class="field-data" th:text="${news.quantity}"></span>
					</div>
					<div class="news-data">
						<span class="field-name">Mức lương:</span>
						<span class="field-data" th:if="${news.salaryMin == 0 || news.salaryMax == 0}">Thỏa thuận</span>
						<span class="field-data" th:unless="${news.salaryMin == 0 || news.salaryMax == 0}"
							th:text="${news.salaryMin} + ' VND - ' + ${news.salaryMax} + ' VND'"></span>
					</div>
				</div>
			</div>
			<div th:if="${!hasToken}" id="apply-btn">
				<!-- Button trigger modal -->
				<button type="button" class="btn btn-outline-light" data-toggle="modal" data-target="#exampleModal">
					Ứng tuyển
				</button>

				<!-- Modal -->
				<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
					aria-labelledby="exampleModalLabel" aria-hidden="true">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="exampleModalLabel">Điền thông tin ứng tuyển</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<form th:action="@{/hiring-news/apply}" th:object="${dto}" method="post"
									enctype="multipart/form-data">
									<div class="form-row">
										<div class="col-md-6 mb-3">
											<label>Họ đệm</label>
											<input th:field="*{lastName}" type="text" class="form-control"
												placeholder="Nhập họ đệm" required>
										</div>
										<div class="col-md-6 mb-3">
											<label>Tên</label>
											<input th:field="*{firstName}" type="text" class="form-control"
												placeholder="Nhập tên" required>
										</div>
									</div>
									<div class="form-row">
										<div class="col-md-6 mb-3">
											<label>Email</label>
											<input th:field="*{email}" type="text" placeholder="Nhập email"
												class="form-control" required>
										</div>
										<div class="col-md-6 mb-3">
											<label>Số điện thoại</label>
											<input th:field="*{phoneNumber}" type="text" class="form-control"
												placeholder="Nhập SĐT" required>
										</div>
										<div class="col-md-12 mb-3">
											<label>File CV</label>
											<input name="file" type="file" class="form-control" required>
										</div>
										<input hidden th:field="*{newsId}">
										<button class="btn btn-outline-light" type="submit"><i
												class="fa-solid fa-paper-plane"></i> Gửi hồ sơ </button>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
		<div id="apply-list-container" th:if="${hasToken}">
			<div id="apply-list-h">
				<div>Danh sách ứng tuyển</div>
			</div>
			<div th:if="${!news.applicantInformations.isEmpty()}">
				<div id="dashboard-container">
					<div class="dashboard-data"><strong>Tổng số: </strong><span th:text="${dashboard.total}"></span>
					</div>
					<div class="dashboard-data"><strong>Chờ đánh giá: </strong><span
							th:text="${dashboard.pending}"></span></div>
					<div class="dashboard-data"><strong>Phù hợp: </strong><span th:text="${dashboard.suitable}"></span>
					</div>
					<div class="dashboard-data"><strong>Chưa phù hợp: </strong><span
							th:text="${dashboard.notSuitable}"></span></div>
				</div>
				<table class="table table-hover">
					<thead>
						<tr>
							<th scope="col">Thao tác</th>
							<th scope="col">STT</th>
							<th scope="col">Họ đệm</th>
							<th scope="col">Tên</th>
							<th scope="col">Email</th>
							<th scope="col">Số điện thoại</th>
							<th scope="col">Thời gian gửi đơn</th>
							<th scope="col">Trạng thái</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="apply, c:${applyPage.content}">
							<td class="dropdown">
								<div class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
									data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<i class="fa-solid fa-list"></i>
								</div>
								<div class="dropdown-menu">
									<a class="dropdown-item"
										th:href="@{/hiring-news/download-cv/{id} (id=${apply.id})}"><i class=" fa-solid
										fa-download"></i> Tải tệp
										CV</a>
									<a th:if="${apply.status!=1}" class="dropdown-item"
										th:href="@{/hiring-news/approve/{id}/1 (id=${apply.id})}"><i
											class="fa-solid fa-check"></i> Đánh dấu là phù
										hợp</a>
									<a th:if="${apply.status==0}" class="dropdown-item"
										th:href="@{/hiring-news/approve/{id}/2 (id=${apply.id})}"><i
											class="fa-solid fa-xmark"></i> Đánh dấu là
										không phù hợp</a>
								</div>

							</td>
							<th scope="row" th:text="${c.count}"></th>
							<td th:text="${apply.lastName}"></td>
							<td th:text="${apply.firstName}"></td>
							<td>
								<a class="badge badge-secondary" th:text="${apply.email}"
									th:href="@{'mailto:' + apply.email}"></a>
							</td>
							<td th:text="${apply.phoneNumber}"></td>
							<td th:text="${#temporals.format(apply.applyDate, 'dd-MM-yyyy HH:mm:ss')}"></td>
							<td th:text="${statusMap.get(apply.status)}"></td>
						</tr>
					</tbody>

				</table>
				<div class="page-nav">
					<div class="page-nav-item">
						<a th:if="${!applyPage.first}" class="btn btn-primary"
							th:href="@{/hiring-news/detail/{id}?page={p}#apply-list-container (id=${news.id}, p=${applyPage.number-1})}">&laquo;</a>
					</div>
					<div th:text="'Trang ' + ${applyPage.number + 1} + '/' + ${applyPage.totalPages}"
						class="page-nav-item">
					</div>
					<div class="page-nav-item">
						<a th:if="${!applyPage.last}" class="btn btn-primary"
							th:href="@{/hiring-news/detail/{id}?page={p}#apply-list-container (id=${news.id}, p=${applyPage.number+1})}">&raquo;</a>
					</div>
				</div>
			</div>
			<div id="empty-list" th:unless="${!news.applicantInformations.isEmpty()}">
				<img alt="Icon danh sách trống" th:src="@{../../css/images/empty-box.png}">
			</div>
		</div>
	</section>


	<div class="footer-section">
		<div th:replace="~{fragments/footer :: footer}"></div>
	</div>
</body>

</html>